@page "/tools-tradegrouprate/{tradeGroupId:int}"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime;
@inject IUnitOfWork _unitOfWork
@inject IDialogService _dialogService

<PageBreadcrumb Subtitle="Tools" Title="Trade Group Rate" />

<div class="alert alert-info text-bg-secondary alert-dismissible" role="alert">
    <div> @groupName </div>
</div>

<MudTable Items="@Elements" Dense="true" Hover="true" Striped="true" FixedHeader="true" FixedFooter="true" Height="450px" RowsPerPage="20" Filter="new Func<TblTradeGroupRate, bool>(FilterFunc1)">
    <ToolBarContent>
        <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" OnClick="AddRecord"> Add New </MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.ArrowBack" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Medium" Href="/tools-tradegroup"> Return </MudButton>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Effective Date</MudTh>
        <MudTh>End Date</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="EffectiveDate">@context.EffectiveDate.Value.ToString("dd-MMM-yyyy")</MudTd>
        <MudTd DataLabel="EndDate">@context.EndDate?.ToString("dd-MMM-yyyy")</MudTd>
        <MudTd DataLabel="" Class="d-flex justify-content-center gap-1">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Dark" aria-label="edit" Size="Size.Small" OnClick="@(() => EditRecord(context))"></MudIconButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    [Parameter]
    public int tradeGroupId { get; set; }
    [SupplyParameterFromQuery]
    public string? groupName { get; set; }

    private string searchString1 = "";
    private IEnumerable<TblTradeGroupRate> Elements = new List<TblTradeGroupRate>();
    private TblTradeGroupRate? tradeGroupRate = new TblTradeGroupRate();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("loadConfig");
            await JsRuntime.InvokeVoidAsync("loadApps");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Elements = await _unitOfWork.Workers.GetTradeGroupRates(tradeGroupId);
    }

    private bool FilterFunc1(TblTradeGroupRate element) => FilterFunc(element, searchString1);

    private bool FilterFunc(TblTradeGroupRate element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.EffectiveDate.Value.ToString("dd-MMM-yyyy").Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.EndDate.Value.ToString("dd-MMM-yyyy").Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
    private async Task AddRecord()
    {
        var groupRate = new TblTradeGroupRate
        {
            Dbwage = 0,
            DbwageWkend = 0,
            DBWageHday = 0,
            HourOtimeWkday = 0,
            HourOtimeWkend = 0,
            HourOtimeHday = 0,
            Nawkday = 0,
            Nawkend = 0,
            NAHday = 0,
            ShiftAllowance = 0,
            Transport = 0,
            Subsidy = 0,
            Ppemedical = 0,
            Bussing = 0
        };
        groupRate = (await _unitOfWork.Workers.GetTradeGroupRates(tradeGroupId)).OrderByDescending(x => x.Id).FirstOrDefault() ?? groupRate;
        groupRate.EffectiveDate = DateTime.Now;
        var parameters = new DialogParameters<TradeGroupRateDialog> { { x => x.Model, groupRate }, { x => x.IsEdit, false } };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        var dialog = _dialogService.Show<TradeGroupRateDialog>("Add Rate", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            Elements = await _unitOfWork.Workers.GetTradeGroupRates(tradeGroupId);
            StateHasChanged();
        }
    }
    private async Task EditRecord(TblTradeGroupRate groupRate)
    {
        var parameters = new DialogParameters<TradeGroupRateDialog> { { x => x.Model, groupRate }, { x => x.IsEdit, true } };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        var dialog = _dialogService.Show<TradeGroupRateDialog>("Edit Rate", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            Elements = await _unitOfWork.Workers.GetTradeGroupRates(tradeGroupId);
            StateHasChanged();
        }
    }
}
